main {
  flex-grow: 1;
}

h2 {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

p {

  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

}

pre {
  display: grid; // Hack to prevent overflow
}

.nextra-callout a {
  text-decoration: underline;
}