.imageGrid {

  list-style: none;
  padding: 0;
  margin: 2em 0;
  display: grid;
  grid-gap: 3em;

  &[data-column-count="2"] {
    grid-template-columns: repeat(2, calc(50% - 1.5em));
  }

  &[data-column-count="2"] {

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }

  }

}