.codeBlock {
  position: relative;
  margin: 1.5em 0;
}

.codeBlockCode {

  position: relative;
  max-height: 12em;
  overflow-y: scroll;

  &[data-codeblock-expanded="true"] {
    
    max-height: none;

    &:after {
      display: none;
    }

  }

  &:after {
    display: block;
    content: '';
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(to bottom, rgba(#111111, 0), rgba(#111111, 1));
    }
  }

  pre {
    border-radius: .2em;
    margin-bottom: 0;
  }

}

.codeBlockActions {

  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  border-radius: .2em;

  li {
    &:first-child {
      margin-left: -.5em;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    color: #2D69DE;
    font-size: .75em;
    padding: 1em;
  }

}