.headerImage {

  width: 100vw;
  background-color: #F4F7FC;
  border-top: solid 1px #E5E7EB;
  border-bottom: solid 1px #E5E7EB;
  padding: 1em;
  margin-left: -1.5rem;
  margin-right: -1.5rem;

  @media (min-width: 480px) {
    width: 100%;
    padding: 2em;
    border-radius: .25em;
    border: solid 1px #E5E7EB;
    margin: 0;
  }

}

.headerImageChildren {
  max-width: 500px;
  margin: 0 auto;
}