html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}

h4 {
  font-size: 1em;
}

button {
  padding: 1rem;
  border-radius: 10px;
  border: 0px;
}
