.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 1em;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 2em 0;
}

.note {
  font-size: .9em;
  font-style: italic;
  margin-top: 1em;
}

.toc {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 1em 0 3em;
}

.toc li {
  font-size: 1.2em;
  margin: 0 .5em;
}

.toc li:first-child {
  margin-left: 0;
}

.toc li:last-child {
  margin-right: 0;
}

.section {
  margin: 3em 0;
}

.sectionTitle {
  padding-bottom: 1em;
  border-bottom: solid 1px lightgray;
  margin-bottom: 2em;
}

.images {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3em;
}

.imageTitle {
  font-size: 1.2em;
  margin: .4em 0 0;
}

.previewImages {
  grid-template-columns: 1fr 1fr;
}