name: Test & Release
on: [push, pull_request]
env:
  CI: false
jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '18', '20' ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install --frozen-lockfile
        working-directory: ./next-cloudinary
      - run: yarn test
        working-directory: ./next-cloudinary
      - run: yarn test:app
        working-directory: ./next-cloudinary

  release:
    name: Release
    if: ${{ github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'beta') }}
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        # Semantic Release is incompatible with node 16 - so add these only on release
      - run: yarn add @semantic-release/changelog @semantic-release/git semantic-release -W
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
